@import "reset";

@import "../scripts/bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@import "mixins";
@import "variables";
@import "typography";
@import "header";

a {
	transition: color 150ms ease-in-out;
	color: #0f0;

	&:hover {
		color: darken(#0f0,10%);
	}
}